<%- include("partials/header.ejs") %>

<div class="row">
    <div class="col-md-6">
        <h3>
            About
            <svg class="my-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                    d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
            </svg>
        </h3>
        <p>CoinKeni is a leading platform that provides real-time cryptocurrency data and insights. We empower users
            with the information they need to make informed decisions in the ever-evolving crypto market.</p>
        <p>Our mission is to simplify access to accurate and reliable cryptocurrency data, fostering a transparent and
            accessible financial landscape for everyone.</p>
    </div>
    <div class="col-md-6">
        <h2>Why Choose CoinKeni?</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fa-solid fa-check-circle me-2 text-primary"></i> Up-to-date and reliable data
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-chart-line me-2 text-primary"></i> Easy-to-understand charts and graphs
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-globe me-2 text-primary"></i> Global market coverage
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-user-friends me-2 text-primary"></i> User-friendly interface
            </li>
            <li class="list-group-item">
                <i class="fa-solid fa-lock me-2 text-primary"></i> Secure and reliable platform
            </li>
        </ul>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h2>The CoinKeni Team</h2>
        <p>CoinKeni is driven by a team of dedicated professionals with extensive experience in finance, technology, and
            blockchain. We are passionate about building a platform that empowers users to make informed decisions in
            the crypto space.</p>
        <p>We are constantly innovating and expanding our offerings to meet the evolving needs of our users. We believe
            in the power of collaboration and are always seeking feedback from our community.</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h3>Our Mission</h3>
        <p>Our mission at CoinKeni is to simplify cryptocurrency trading and make it accessible to everyone. We aim to
            provide our users with the best tools, resources, and insights to navigate the crypto market confidently.
        </p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h3>Our Vision</h3>
        <p>We envision a world where cryptocurrency is a trusted and integral part of the global financial system. At
            CoinKeni, we strive to be at the forefront of this transformation by fostering innovation, integrity, and
            transparency in the crypto industry.</p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-12">
        <h3>Meet the Team</h3>
        <div class="row mt-3">
            <div class="col-md-4 text-center">
                <img src="images/fortnite-guy.jpg" class="img-fluid rounded-circle shadow-lg" alt="Team Member 1">
                <h4 class="mt-2">John Doe</h4>
                <p>Chief Executive Officer</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="images/the-rock.jpg" class="img-fluid rounded-circle shadow-lg" alt="Team Member 2">
                <h4 class="mt-2">Jane Smith</h4>
                <p>Chief Technology Officer</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="images/will-smith.jpg" class="img-fluid rounded-circle shadow-lg" alt="Team Member 3">
                <h4 class="mt-2">Mark Johnson</h4>
                <p>Chief Financial Officer</p>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>